main{
    background: #E5E5E5;
    /* height: 500px; */
}

.login__datos{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    align-items: center;
    margin: 20px auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login__datos__titulo{
    margin-bottom: 30px;
    
}

.login__datos input{
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    border: none;
}


input::placeholder{
    color: #A2A2A2;
    font-size: 0.8em;
    padding-top: 0;
    
   
    
    
}


.descripcion__producto{
    padding: 15px 5px;
}

.login__datos__boton{
    color: #fdfdfd;
    background: #2A7AE4;
    border: none;
    padding: 15px;
    width: 100%;
}

.input-message-error {
    display: none;
  }

.input-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .input-container--invalid .input {
    border: 1px solid var(--warning-color);
    border-radius: 7px;
  }
  
  .input-container--invalid .input-label {
    color: var(--warning-color);
  }

  .input::placeholder {
    visibility: hidden;
    color: #00000000;
  }
  
  .input:focus {
    outline: none;
  }

@media screen and (max-width:768px){
    
    .login__datos{
        
        width: 50%;
        
    }

    .login__datos__titulo{
        font-size: 27px;
    }
}

@media screen and (max-width:425px) {
    .login__datos{
        
        width: 100%;
        
    }

    .login__datos__titulo{
        font-size: 30px;
    }
    
}