main{
    background: #E5E5E5;
    /* height: 500px; */
}

.producto{
    width: 80%;
    margin: 10px auto;
}

.producto__principal{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}
.producto__imagen__principal{
    width: 50%;
    height: 330px;

}

.producto__descripcion{
    width: 45%;
    margin-left: 15px;
}

.productos__similares{
width: 100%;
margin: 40px auto;
display: flex;
flex-direction: column;
}

.productos__similares__lista{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.producto__similar{
    width: 150px;
}

.producto__similar__imagen{
    width: 150px;
}

@media screen and (max-width:768px) {
    .producto{
        width: 95%;
    }

    .producto__imagen__principal{
        width: 40%;
        height: 250px;
    
    }

    .producto__descripcion {
        width: 55%;
       
    }

    .producto__similar:nth-child(5){
        display: none;
    }

    .producto__similar:nth-child(6){
        display: none;
    }

    .productos__similares__lista{
        margin-top: 20px;
    }
    
}

@media screen and (max-width: 425px) {
    .producto__principal{
        
        
        
        flex-direction: column;
       
    }

    .producto__imagen__principal{
        width: 100%;
       
    
    }

    .producto__descripcion{
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
        
    }

    .producto__descripcion h1{
        font-size: 24px;
        
    }

    .productos__similares__titulo{
        font-size: 30px;
    }

    .productos__similares__lista{
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .producto__similar{
        width: 48%;
        margin-bottom: 20px;
    }

    .producto__similar__imagen {
        width: 100%;
    }
}

